Source: bgpstream1
Section: net
Priority: optional
Maintainer: BGPStream <bgpstream-info@caida.org>
Build-Depends: debhelper (>= 10), autotools-dev,
 libwandio1 (>=4.2.0), librdkafka1 (>=0.11.3),
 zlib1g-dev, libbz2-dev, libcurl4-openssl-dev
Standards-Version: 3.9.6
Homepage: https://bgpstream.caida.org

Package: bgpstream1-tools
Architecture: any
Depends: libwandio1 (>=4.2.0), libbgpstream1 (=${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: bgpstream2-tools, libbgpstream2, libbgpstream2-dev
Description: BGPStream
BGPStream: An open-source software framework for live and historical BGP data analysis, supporting scientific research, operational monitoring, and post-event analysis.

Package: libbgpstream1
Architecture: any
Depends: libwandio1 (>=4.2.0), ${shlibs:Depends}, ${misc:Depends}
Conflicts: bgpstream2-tools, libbgpstream2, libbgpstream2-dev
Description: BGPStream
BGPStream: An open-source software framework for live and historical BGP data analysis, supporting scientific research, operational monitoring, and post-event analysis.

Package: libbgpstream1-dev
Architecture: any
Depends: libbgpstream1 (=${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: bgpstream2-tools, libbgpstream2, libbgpstream2-dev
Description: BGPStream
BGPStream: An open-source software framework for live and historical BGP data analysis, supporting scientific research, operational monitoring, and post-event analysis.
